@tailwind base;
@tailwind components;
@tailwind utilities;

.welcome-desktop {
	background-image: url(../public/welcome_desktop.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 8px;
	border: 0px;
}
